<form class="form-horizontal">
  <fieldset>
    <div class="row">
      <div class="col-md-6">
        <div class='form-group'>
          <input class="form-control search" id="partner" name="partner" 
                type="text" placeholder="Search for Partner"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class='form-group'>
          <input class="form-control search" id="competitor" name="competitor" 
                type="text" placeholder="Search for Competitor"/>
        </div>
      </div>
    </div>
  </fieldset>
</form>